@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800;900&display=swap');


:root {
  --brand-purple-1: #6b4ce6;
  --brand-purple-2: #7b57f0;
  --brand-magenta: #b31f5b;
  --header-split: 60%;
}


